[package]
name = "nj_js"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true


[lib]
crate-type = ["cdylib"]


[dependencies]
wasm-bindgen = "0.2"
nj = { path = "../nj" }
serde-wasm-bindgen = "0.6.5"
