[package]
name = "nj_lib"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true


[lib]
crate-type = ["rlib"]

[dependencies]
bitvec = "1.0.1"
serde = { version = "1.0.228", features = ["derive"] }
ts-rs = "11.1.0"
